
/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 70%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: relative;
  left: 100px;
}
  
.flexsearch--form {
  overflow: hidden;
  position: relative;

}
  
.flexsearch--input-wrapper {
  padding: 0 66px 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 60px;
  padding: 0 46px 0 10px;
  border-color: #AE0000;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  margin-top: 15px;
  color:  #AE0000;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
  
.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
  background: transparent;
  color: #AE0000;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #000000;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #AE0000; 
}

.flexsearch--submit:hover {
  color: #00ef23;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;  
}

input:-moz-placeholder {
  color: #888
}


/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

.accordion {
  background-color: #000;
  color: #ffffff;
  border: 5px solid black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  outline: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 23px;
  transition: 0.2s;
}

.accordion2 {
  background-color: #000;
  color: #ffffff;
  border: 5px solid black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  transition: 0.2s;
}
.active2, .accordion2:hover {
  background-color: #AE0000;
}
.accordion2:after{
  content: "\1F6C8"; /* Unicode character */     
  font-size: 20px;
  float: right;
  margin-left: 5px;

}

.panel2 {
  padding: 0 18px;
  background-color: #AE0000;
  border: 5px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.active, .accordion:hover {
  background-color: #AE0000;
}

::-webkit-scrollbar {width: 0px; height: 0px; background: #000;}
::-webkit-scrollbar-thumb {background-color:#333 ; border: 0px solid black;}
.panel {
  padding: 0 18px;
  background-color: #AE0000;
  border: 5px solid black;
  max-height: 0;
  overflow-x:hidden;
  overflow-y:visible;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\1F601'; /* Unicode character for "plus" sign (+) */     
  font-size: 30px;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\1F973"; /* Unicode character for "minus" sign (-) */
}
